<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/acal?createDatabaseIfNotExist=true</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123</property>

    <mapping class="br.org.acal.resouces.entidades.Categoriasocio"/>
    <mapping class="br.org.acal.resouces.entidades.Cheque"/>
    <mapping class="br.org.acal.resouces.entidades.Chequeslog"/>
    <mapping class="br.org.acal.resouces.entidades.Conta"/>
    <mapping class="br.org.acal.resouces.entidades.Contaslog"/>
    <mapping class="br.org.acal.resouces.entidades.Contrato"/>
    <mapping class="br.org.acal.resouces.entidades.Endereco"/>
    <mapping class="br.org.acal.resouces.entidades.Entrada"/>
    <mapping class="br.org.acal.resouces.entidades.Entradaslog"/>
    <mapping class="br.org.acal.resouces.entidades.Funcionario"/>
    <mapping class="br.org.acal.resouces.entidades.Hidrometro"/>
    <mapping class="br.org.acal.resouces.entidades.Motivodespesa"/>
    <mapping class="br.org.acal.resouces.entidades.Motivoentrada"/>
    <mapping class="br.org.acal.resouces.entidades.Pessoa"/>
    <mapping class="br.org.acal.resouces.entidades.Saida"/>
    <mapping class="br.org.acal.resouces.entidades.Saidaslog"/>
    <mapping class="br.org.acal.resouces.entidades.Socio"/>
    <mapping class="br.org.acal.resouces.entidades.Taxa"/>
    <mapping class="br.org.acal.resouces.entidades.Taxasconta"/>
    <mapping class="br.org.acal.resouces.entidades.Enderecopessoa"/>
    <mapping class="br.org.acal.resouces.entidades.Sociotabela"/>
    <mapping class="br.org.acal.resouces.entidades.Geracaocontas"/>
    <mapping class="br.org.acal.resouces.entidades.SociosView"/>
    <mapping class="br.org.acal.resouces.entidades.CaixaView"/>
    <mapping class="br.org.acal.resouces.entidades.RcCaixaCompleto"/>
    <mapping class="br.org.acal.resouces.entidades.EnderecoView"/>
  
  </session-factory>
</hibernate-configuration>
